[submodule "external/glog"]
	path = external/glog
	url = https://github.com/google/glog.git
[submodule "external/gflags"]
	path = external/gflags
	url = https://github.com/gflags/gflags
[submodule "external/libunwind"]
	path = external/libunwind
	url = https://github.com/libunwind/libunwind.git
